        </main>
        <footer id="footer" class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="footer-container col-12 d-flex justify-content-between gradient-background">
                        <div class="footer-text">
                            <% var currentYear = new Date().getFullYear(); %>
                            <p>&nbsp;© <%= currentYear %> All Rights Reserved | Pushpit Kumar</p>
                            <p>⚡Powered By TheCocktailDB</p>
                        </div>
                        <div class="social-links mt-3">
                            <a href="https://linkedin.com/in/pushpit-kumar/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/PushpitKumar" target="_blank"><i class="fab fa-github"></i></a>
                            <a href="https://x.com/Pushpit_99" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="https://instagram.com/pushpit_99/?igshid=ZDdkNTZiNTM" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://facebook.com/pushpit.kumar.9?mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
            <script type="text/javascript" src="/scripts/scrollIt.js"></script>
            <script type="text/javascript" src="/scripts/script.js"></script>
        </footer>
    </body>
</html>