<%- include("partials/header.ejs") %>
<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h3 class="about-heading">Welcome to The Cocktail Lounge!</h3>
                <p class="about-text">Hi there 👋 I'm thrilled you have stopped by. The Cocktail Lounge is the central hub for cocktail enthusiasts. But that's not all! You'll also find a variety of exotic drinks, ranging from classic cocktails to comforting beverages like Lassi. You can also explore drinks that match your preferences using the filter options (Alcoholic/Non-Alcoholic, etc), or quickly locate a specific drink using the search bar. Curious about how a drink is made or it's key ingredients? Just click on it to access additional details like preparation method and key ingredients used.</p>
                <p class="about-text">Don't miss the fun with the "Drink of the Day" special—each day, a random drink is highlighted for you to enjoy! This is a passion project and more features will be added in the future soon. You'll be able to save your favorite drinks, add comments, give ratings/reviews and more. These are currently in the pipeline and will be made available soon. So stay tuned!</p>
                <p class="about-text">A huge shoutout to <a href="https://www.thecocktaildb.com/"><strong>TheCocktailDB</strong></a> for providing an incredible API — without them this project wouldn't have been possible. They offer a wide assortment of drinks and you can also submit recipes for drinks that are not yet present in their database. Do check out their free and premium API and show them some love!</p>
                <p class="about-text">Please feel free to reach out to me on LinkedIn, Facebook, Instagram, Twitter or drop an email via the Contact section. I'll get back to you ASAP. Cheers!</p>
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer.ejs") %>